<div class="header">
  <img src="http://cliparts.co/cliparts/riL/noq/riLnoqrrT.png" class="logo"/><h1>Wynback</h1></a>

  <!-- Add the form.database to form.php -->
  <div class="Product-Search">

        <form action="form.php" method="post">
        Product Search: <input type="text" name="term" />
        <input type="submit" name="submit" value="Submit" />
        </form>
  </div>

<!--NAV Bar-->

<nav class="flex-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/Us">About</a></li>
    <li><a href="#icons">Shopping Cart</a></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>

</div>

<div class"about"
<h2><u>About Us</u></h2>
<h2>Shop for a cause!</h2>

<p> Wynback is an exclusive way to shop and give back to the community. Every week, Wynback targets exlusive products that are handmade by others that effect change within the world.</p>

</div>

<div ="co-founder"
<h1><u>Co-founders:</u></hidden="">
  <ul>
<li>Patricio De La Guardia</li>
<li>Mary Gualtieri</li>
<li>Glenn Langdon</li>
</ul>
</div>
