// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    text-align: center;
}

.about {
  text-align: center;
}

u {
  font-size: 3em;
  margin-left: 10px;
}

 ul {
  display: inline;
}
